<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1019695889626083331</th>
      <th>25073877</th>
      <th>realDonaldTrump</th>
      <th>The two biggest opponents of ICE in America today are the Democratic Party and MS-13!</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1019695583853010944</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>Thank you to Congressman Kevin Yoder! He secur...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1019664477162278918</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>Brian Kemp is running for Governor of the grea...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1019545713435467776</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>3.4 million jobs created since our great Elect...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1019544304853966853</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>Some people HATE the fact that I got along wel...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1019538038651871233</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>“A lot of Democrats wished they voted for the ...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1019533312052858880</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>Congratulations to Martha Roby of The Great St...</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1019526399542091776</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>....Russia has agreed to help with North Korea...</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1019524328927453184</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>While the NATO meeting in Brussels was an ackn...</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1019520574371123200</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>So many people at the higher ends of intellige...</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1019434161889796097</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>“Prosperity is returning. Donald Trump is doin...</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1019378119671730176</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>The Democrats want to abolish ICE, which will ...</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1019376680572456960</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>The meeting between President Putin and myself...</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1019230023897833479</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>The economy of the United States is stronger t...</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1019228676460773377</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>Thank you @RandPaul. “The President has gone t...</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1019225830298456066</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>While I had a great meeting with NATO, raising...</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1019218575691837443</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>I had a great meeting with NATO. They have pai...</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1018992115810910208</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>Will be interviewed on @seanhannity tonight at...</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1018956970143858688</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>A productive dialogue is not only good for the...</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1018955906690584576</td>
      <td>25073877</td>
      <td>realDonaldTrump</td>
      <td>I would rather take a political risk in pursui...</td>
    </tr>
  </tbody>
</table>