<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>realDonaldTrump</th>
      <th>The NFL National Anthem Debate is alive and well again - can’t believe it! Isn’t it in contract that players must stand at attention, hand on heart? The $40,000,000 Commissioner must now make a stand. First time kneeling, out for game. Second time kneeling, out for season/no pay!</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>realDonaldTrump</td>
      <td>I got severely criticized by the Fake News Med...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>realDonaldTrump</td>
      <td>So important. Should have been done years ago!...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>realDonaldTrump</td>
      <td>Farmers have been on a downward trend for 15 y...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>realDonaldTrump</td>
      <td>....The United States should not be penalized ...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>realDonaldTrump</td>
      <td>China, the European Union and others have been...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>realDonaldTrump</td>
      <td>My deepest sympathies to the families and frie...</td>
    </tr>
    <tr>
      <th>6</th>
      <td>realDonaldTrump</td>
      <td>Will the Dems and Fake News ever learn? This i...</td>
    </tr>
    <tr>
      <th>7</th>
      <td>realDonaldTrump</td>
      <td>“Trump recognized Russian Meddling MANY TIMES”...</td>
    </tr>
    <tr>
      <th>8</th>
      <td>realDonaldTrump</td>
      <td>....proliferation, cyber attacks, trade, Ukrai...</td>
    </tr>
    <tr>
      <th>9</th>
      <td>realDonaldTrump</td>
      <td>The Summit with Russia was a great success, ex...</td>
    </tr>
    <tr>
      <th>10</th>
      <td>realDonaldTrump</td>
      <td>I told you so! The European Union just slapped...</td>
    </tr>
    <tr>
      <th>11</th>
      <td>realDonaldTrump</td>
      <td>Really big jobs meeting today at the White Hou...</td>
    </tr>
    <tr>
      <th>12</th>
      <td>realDonaldTrump</td>
      <td>“Trump recognized Russian Meddling MANY TIMES....</td>
    </tr>
    <tr>
      <th>13</th>
      <td>realDonaldTrump</td>
      <td>The Fake News Media wants so badly to see a ma...</td>
    </tr>
    <tr>
      <th>14</th>
      <td>realDonaldTrump</td>
      <td>The Fake News Media is going Crazy! They make ...</td>
    </tr>
    <tr>
      <th>15</th>
      <td>realDonaldTrump</td>
      <td>The Democrats have a death wish, in more ways ...</td>
    </tr>
    <tr>
      <th>16</th>
      <td>realDonaldTrump</td>
      <td>Thank you to Novartis for not increasing your ...</td>
    </tr>
    <tr>
      <th>17</th>
      <td>realDonaldTrump</td>
      <td>A total disgrace that Turkey will not release ...</td>
    </tr>
    <tr>
      <th>18</th>
      <td>realDonaldTrump</td>
      <td>The two biggest opponents of ICE in America to...</td>
    </tr>
  </tbody>
</table>