<!DOCTYPE html>
<html>
  <head>
    <title>Micro Apps Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
        <h1>Welcome to the home of my micro apps!</h1>
        <p>On this webpage I will be creating and linking to small python applications that I've made.</p>
        <a href="/twittersearch">Click here to go to test page</a>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>